#============= qti_init_shell ==============
allow qti_init_shell rfs_file:dir { getattr open read setattr };
allow qti_init_shell rfs_shared_hlos_file:dir { getattr open read setattr };